<html>
	<head>
		<!-- CHARSET DEFINITION -->
		<meta charset="utf-8" />

		<!-- TITLE -->
		<title>Fuck  it  Ship  it</title>

		<!-- SITE DESCRIPTION -->
		<meta name="description" content="Fuck it Ship Description" />

		<!-- SHORTCUT ICON -->
		<link rel="shortcut icon" type="text/css" href="http://www.thedanyaal.com/img/danyaal.png" />

		<!-- IE COMPATIBILITY -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> 
		<![endif]-->

		<!-- CSS LINK -->
		<link rel="stylesheet" type="text/css" href="./css/style.css">

		<!-- FACEBOOK OG DATA -->
		<meta property="og:title" content="Fuck it Ship it"/>
		<meta property="og:url" content="http://www.fuckitship.it"/>
		<meta property="og:site_name" content="Fuck it Ship it"/>
		<meta property="og:image" content="http://www.thedanyaal.com/img/danyaal.png"/>
		<meta name="og:description" content="Fuck it Ship it Description" />
		<meta property="og:type" content="website"/>

		<!-- JQUERY LINK -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.0.min.js"></script>

	</head>
	<body>
		<span>
			Bar O' Clock is still in the works. We'll let you when it's ready!
		</span>
	</body>
</html>